<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sample.employeedetails">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/compindia_splash_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/compindia_splash_logo"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.employeeslistactivity.salaryprogress.SalaryProgressActivity"></activity>
        <activity android:name=".ui.hrcategory.chooseattendence.attendancepickers.AttendancePickersActivity" />
        <activity android:name=".ui.hrcategory.chooseattendence.ChooseAttendanceActivity" />
        <activity
            android:name=".ui.employeedetails.EmployeeDetailsActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.userprofile.UserProfileActivity"
            android:theme="@style/AppThemeFullScreen" />
        <activity android:name=".ui.employeeslistactivity.EmployeesListActivity"></activity>
        <activity
            android:name=".ui.hrcategory.HrCategoryActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.hrcategory.deviceinfo.DeviceInfoActivity"></activity>
        <activity android:name=".ui.hrcategory.projects.ProjectDashboardActivity"></activity>
        <activity android:name=".ui.employeeslistactivity.employeedeviceinfo.EmployeeDeviceInfo" />
    </application>

</manifest>